<section class="todoapp" *mobxAutorun>
  <header class="header">
    <h4>You are so productive:</h4>
    <div class="link-container" >
      <a routerLink="/">... back to work!</a>
    </div>
  </header>

  <section class="main">
    <td-todo-list [todos]="doneToDos" (onRemoveToDo)="removeToDo($event)"></td-todo-list>
  </section>
</section>
